@function ln-maclaurin( $x, $n ) {
	$result: ( pow( -1, $n + 1 ) / $n ) * ( pow( $x - 1, $n ) );
	@return $result;
}
@function ln( $value ) {
	$ten-exp: 1;
	$ln-ten: 2.30258509;

	@while ( $value > pow( 10, $ten-exp ) ) {
		$ten-exp: $ten-exp + 1;
	}

	$value: $value / pow( 10, $ten-exp );

	$result: summation( ln-maclaurin, $value, 1, 100 );

	@return $result + $ten-exp * $ln-ten;
}
